* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f7f7f7;
}
.number {
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    background: #ffca28;
    list-style-type: none;
    margin: 3px;
    text-align: center;
    float: left;
    font-size: 39px;
    color: #616161;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.number:hover {
    background: #ffb300;
    transition: 0.5s;
}
.counter {
    display: flex;
    justify-content: center;
    margin-right: 140px;
    margin-top: 15px;
}
.strokes {
    margin-right: 35px;
    margin-left: 75px;
}
.ul {
    height: 432px;
    width: 432px;
    border: 1px solid #000000;
    background: #03a9f4;
    margin: 5px auto;
}

.empty {
    height: 100px;
    width: 100px;
    border: 1px solid #000000;
    display: inline-block;
    margin: 3px;
    text-align: center;
    float: left;
    font-size: 50px;
    background: #03a9f4;

}

.number-1:before {
    content: '1';
}

.number-2:before {
    content: '2';
}

.number-3:before {
    content: '3';
}

.number-4:before {
    content: '4';
}

.number-5:before {
    content: '5';
}

.number-6:before {
    content: '6';
}

.number-7:before {
    content: '7';
}

.number-8:before {
    content: '8';
}

.number-9:before {
    content: '9';
}

.number-10:before {
    content: '10';
}

.number-11:before {
    content: '11';
}

.number-12:before {
    content: '12';
}

.number-13:before {
    content: '13';
}

.number-14:before {
    content: '14';
}

.number-15:before {
    content: '15';
}
.mix, .regulations{
    color: #ffca28;
    margin: 10px 5px 0;
    font-family: Comic Sans MS, sans-serif;
}
#wrapper {
    display: flex;
    justify-content: center;

}
